<div class="container">

<div style="text-align:center">
    <h1>Users list</h1>

<div class="search">
    <input type="text" placeholder="Search">
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <form class="form-inline">
        <input ngControl="user" type="text" required class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Name" [(ngModel)]="user" name="user">
        
<!-- 
        <div>Valid ={{user.valid}}</div>
        <div>Pristine ={{user.pristine}}</div>
        <div>Touch ={{name.touched}}</div> -->

        <button type="submit" class="btn btn-primary" (click)="addUser()" [disabled]="!user">Save</button>
        <div [hidden]="user.valid || user.pristine" class="alert alert-danger">Name is required</div>
      </form>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let name of username">
                        {{name.user}}
            <span class="glyphicon glyphicon-trash" (click)="removeUser(user)"></span>
        </li>
      </ul>
    </div>
</div>
</div>